
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-3 f">
        <h4>Review Student List</h4>
        <p>Check if the students details add up and if they recieve goverment loans </p>
        <p><a href="/University/reviewstudnet" class="btn btn-success f f-1">Start</a></p>
    </div>

    <div class="col-md-3 f">
        <h4>Review Activity</h4>
        <p>Review recenty activity</p>
        <p><a href="/University/reviewactivity" class="btn btn-success f f-1">Enter</a></p>
    </div>

</div>
