
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-3 f">
        <h4>Get in the Program</h4>
        <p>Fill in the form and follow the steps. </p>
        <p><a href="/Student/steps" class="btn btn-success f f-1" >Start</a></p>
    </div>

    <div class="col-md-3 f">
        <h4>Reference Key</h4>
        <p>To view your status and account </p>
        <p><a href="" class="btn btn-success f f-1">Enter</a></p>
    </div>

</div>